<nav>
    <div id="Header">
        <h1 class="titulo"><a href="/" id="navprin">Lista de tareas</a></li></h1>
    </div>

    <ul>
        <li id="agregartarea"><a href="/agr">Agregar tarea</a></li>
    </ul>
</nav>